.card-body{
    height: 80px;
    padding: 8px;
}
.card-body>div{
float: left;

}
.title-text{
    vertical-align: middle;
    line-height: 80px;
    font-weight: 500;
    font-size:1.2rem;
}

.card-body>.box{
    height:120%;
    width:28%;
    line-height: 120%;
    border-radius: .25rem;
    position: relative;
    top:-20px;
    text-align: center;
}

.align-item{
    position: relative;
    top: 50%;
    font-size:2em;
    transform: translateY(-50%);
}