.bg-light{
    background-color: white !important;
    border-radius: 3px;
}

.navbar {
    padding: 0;
}

.form-row {
    
    margin-right: 0px;
    margin-left: 0px;
}
.custom{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: unset;
}
input:focus {
    outline:none;
    border-color: none;
  box-shadow:unset;
}