<nav class="navbar navbar-light bg-light mt-3 mb-2">
    <form>
        <div class="form-row align-items-center">
          <div class="col-md mr-lg-3 ">
            <select class="custom-select">
              <option disabled selected>RFQs</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        
          <div class="col-md mb-2 mx-lg-3">
              <input type="text" class="form-control custom" placeholder="All Customers">
              
            </div>

            <div class="col-md mx-lg-3 mb-2">
                <input type="text" class="form-control custom" placeholder="All Locations">
                
              </div>

              <div class="col-md mx-lg-3 mb-2">
                  <input type="text" class="form-control custom" placeholder="RFQ Number">
                  
                </div>
            


          <div class="col-md mx-lg-3 mb-2 ">
            <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
            <button type="submit" class="btn btn-outline-secondary btn-sm ml-3">Reset</button>
          </div>
        </div>
      </form>
  </nav>
